
.tape
 {
    background-color:#b68d40;
    width: 100%;
    height: 5vh;
    display: flex;
text-align: center;
   
    position: absolute;
    top: 0%;
    left: 0%;
}
.everything {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
  }
.heading
{
    display: flex;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    position:fixed;
    left: 36rem;
    top: 5vh;

}
.Roommates
{
position: relative;
left: -8rem;
bottom: -1.7rem;
color: #f4ebd0;
}
.l1
{
    position: relative;
    right: 15rem;
    bottom: -3.5rem;
}
.l2
{
    position: relative;
    left: -1rem;
    bottom: -0.25rem;
}
.manage-your-cash
{
    position: absolute;
    top: 20vh;
    left: 5vh;
}
.card-cont
 {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   justify-content: space-evenly;
   width: 100%;
   height: 40vh;
   position: absolute;
   top: 50%;
  }
  .card 
  {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: all 200ms;
border: 2px solid #b68d40;
  }
   .card img
   {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  } 
  .card:hover
{
    transform: scale(1.1);
    box-shadow: 1px 1px 20px 2px #b68d40;
}
.choose
{
    display: flex;
    justify-content: center;
position: relative;
top: 30%;
font-weight: 600;
font-size:x-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #b68d40;

}
.man 
{
    font-size: xx-large;
    font-weight: 500;
    color:#b68d40;
    border: 10px solid #021526;
}
.everything
{
    background-color: #161c22;
    position: fixed;
    left: 0%;
    top: 0%;
    bottom: 0%;
    right: 0%;
}
.logo
{
    color: #d6ad60;
    font-weight: 200;
}
.logo2
{
    color: #f4ebd0;
}
.name
{
    color: aliceblue;
}
.person {
    display: flex;
    align-items: center;
    flex-direction: column;
}
