.homepage{
  padding: 2rem;
  color: var(--text-color) !important;
}
.user-info{
  display: flex;
  gap: 2rem;
  padding: 1rem;
  align-items: center;
}

.bgPrimary{
  background-color: var(--primary-color) !important;
  background-image: none !important; /* Ensure no background image is applied */
}

