.homepage {
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

img{
  width: 5rem;
}


.expenses-table table {
  width: 100%;
  border-collapse: collapse;
}

.expenses-table th, .expenses-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.expenses-table th {
  background-color: var(--primary-color);
}
