/* Define primary and secondary colors globally */
:root {
    --primary-color: #31363F; 
    --secondary-color: #76ABAE; 
    --background-color: #222831; 
    --text-color: #EEEEEE;
  }

  body{
    background-color: var(--background-color);
    background-image: url("../src/assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);

  }