.web-head
{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: rgb(0, 0, 0);
    
}
.logo
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 5rem;
    width: 100%;
}
.your-split-buddies
{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    width: 20%;
    background-color: rgb(17, 27, 27);
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
}
.heading2
{
display: flex;
justify-content: center;
flex-direction: row;
color: goldenrod;
}

.buddies
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
.groups
{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    transition: all 100ms;
}
.groups img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.groups:hover
{
    transform: scale(1.1);
    box-shadow: 1px 1px 30px 1px tan;
}

.me
{
    background-color: rgb(0, 0, 0);
    height: 8rem;
    width:15%;
    position: absolute;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pp
{
    position: relative;
    top: 20%;
    height: 80%;
    width: 60%;

}
.pp img
{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.tablepie
{
   background-color: rgb(0, 0, 0);
   height: 25rem;
   width: 50%;
   position: absolute;
   right: 30%;
   bottom: 0%;
}
.pie
{
    
}
.table
{
    display: flex;
    justify-content: center;
}
table.content {
    border-collapse: separate;
    border-spacing: 0 15px; 
    width: 100%;
    color: aquamarine;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th:first-child, td:first-child {
    width: 10%; 
    text-align: center;
  }
  
  .total-price td {
    border-top: 2px solid #ffffff;
    border-bottom: none;
    text-align: center;
   }
   .pie {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    height: 25rem;
    width: 30%;
    background-color: rgb(0, 0, 0);
    right: 0%;
    bottom: 0%;
  }
  
  .pieinside {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0px, 100px, 200px, 0px); /* Create a clipping rectangle */
    border-radius: 50%;
  }
  
  .slice1 {
    background-color: #f00;
    transform: rotate(0deg);
  }
  
  .slice2 {
    background-color: #0f0;
    transform: rotate(90deg);
  }
  
  .slice3 {
    background-color: #00f;
    transform: rotate(180deg);
  }
  
  .slice4 {
    background-color: #ff0;
    transform: rotate(270deg);
  }
